# Snapshot testing
*.png binary diff=exif
**/ReferenceImages/** binary
**/FailureDiffs/** binary


# Swift specific
*.pbxproj merge= union
*.swift text diff=swift

# Xcode
*.xcscheme binary
*.xcworkspace binary
*.xcuserstate binary
